@using linguispark.Models.entity
@model List<tblKart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kart Başlık (Çevirmen Adı)</th>
        <th>Kart Açıklama (Çeviri Ücret)</th>
        <th>Fotoğraf</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncele</th>
    </tr>

    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.id</td>
                <td>@i.tblCevirmen.cevirmenAdi</td>
                <td>@i.kartAciklama</td>
                <td>@i.kartFotograf</td>
                <td>@i.kartDurum</td>
                <td><a href="/CevirmenKart/kartSil/@i.id" class="btn btn-warning">Sil</a></td>
                <td><a href="/CevirmenKart/kartGuncellemeSayfasi/@i.id" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>

</table>
<a href="/CevirmenKart/kartEkle" class="btn btn-primary">Kart Ekle</a>
